{% extends 'base.html' %}
{% block content %}
{% for product in basket %}
    {{ product.commodity.name }}
    {% if basket %}
    <form action="{% url 'shop:del_commodity' product.commodity.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="_method" value="Удалить">
        <input type="submit" value="Delete">
    </form >
    {% endif %}
{% endfor %}
{% if basket %}
<a href="{% url 'shop:order' %}">
    <button>
        заказать
    </button>
</a>
{% endif %}
{% endblock content %}